﻿@page
@model RazorPages.Pages.Lairs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lair</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lair.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lair.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lair.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lair.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Lair.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
