@page "{name?}"
@model MonsterTestModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Monsters</h1>

<h3>Monster</h3>
<p>
    Hi there <strong>@Model.Name</strong>
</p>
<p>
    
</p>
