﻿@page
@model RazorPages.Pages.Monsters.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Monster</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Monster.Name" class="control-label"></label>
                <input asp-for="Monster.Name" class="form-control" />
                <span asp-validation-for="Monster.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monster.DateOfBirth" class="control-label"></label>
                <input asp-for="Monster.DateOfBirth" class="form-control" />
                <span asp-validation-for="Monster.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monster.Height" class="control-label"></label>
                <input asp-for="Monster.Height" class="form-control" />
                <span asp-validation-for="Monster.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monster.Weight" class="control-label"></label>
                <input asp-for="Monster.Weight" class="form-control" />
                <span asp-validation-for="Monster.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monster.Price" class="control-label"></label>
                <input asp-for="Monster.Price" class="form-control" />
                <span asp-validation-for="Monster.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
