﻿@page
@model RazorPages.Pages.Monsters.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Monster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Monster.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Monster.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Monster.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Monster.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Monster.Height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Monster.Height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Monster.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Monster.Weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Monster.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Monster.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Monster.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
